html, body, #main-wrapper, .bg-overlay {
    width:100%;
    height:100%; 
    overflow: hidden;
}

#main-wrapper {
    display: table;
    font-family: 'Roboto', sans-serif;
    background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-overlay {
    display: table;
    background-color: rgba(255,255,255,0.5)
}

#centered-content {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-align: center; 
}

#logo-wrapper {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 190px;
    margin: -1em auto 0 auto;
}

#logo-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

#description {
    color: #fff;
    width: 35%;
    margin: auto;
    text-align: justify;
    margin-bottom: 2em;
    line-height: initial;
}

.std-button {
    background-color: #37474F;
    border: 1px solid #37474F;
    border-radius: 30px;
    padding: .6em 4em;
    box-shadow: 1px 2px 5px #000;
}
.std-button:hover {
    background-color: #506671;
    border-color: #506671;
}

a.std-button {
    text-decoration: none;
    color: white;
}

a.std-button:visited {
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #506671;
}
