---
layout: default
---

<div class="blog-navigation">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="more-posts">← More posts</a>
  {% else %}
    <span class="unactive-link more-posts">← More posts</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous-page">Previous page →</a>
  {% else %}
    <span class="unactive-link previous-page">Previous page →</span>
  {% endif %}
</div>

<ul>
  {% for post in paginator.posts %}
    <li>
      <div class="blog-post">
        <a class="title" href="{{ post.url }}">{{ post.title }}</a>
        <time class="blog-date" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
        
        {% if post.author %}
         {% if post.author-link %}
            <span class="blog-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span>Written by <a href="{{ post.author-link }}" itemprop="name">{{ post.author }}</a></span>
            </span>
          {% else %}
            <span class="blog-author" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">Written by {{ post.author }}</span>
            </span>
          {% endif %}
        {% endif %}

        <p class="post-text">{{ post.content }}</p>
      </div>
    </li>
  {% endfor %}
</ul>